.container {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 10% 40% 40% 10%;
  justify-self: center;
}

.item1 {
  grid-area: 2/2;
}

.item2{
  grid-area: 3/2;
}

.item3 {
  grid-area: 2/3;
}

.item4{
  grid-area: 3/3;
}